@page "/"
@using CleaningAppFrontEnd.Components.Navigations
@using CleaningAppFrontEnd.Components.Tables
@rendermode InteractiveServer

<PageTitle>Cleaning App Overview</PageTitle>

<h1 class="frontpage-title">Welcome to the Cleaning App!</h1>

<p>Here’s an overview of this week’s cleaning tasks and quick access to management tools.</p>

<hr />

<TaskTable/>

<hr />

<QuickAccess/>