<div class="top-row ps-3 navbar navbar-dark navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CleaningApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Front Page
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register-task">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register Task
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="task-list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Task List
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="week-planner">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Week Planner
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="task-templates">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Task Templates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="roomsCrud">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rooms CRUD
            </NavLink>
        </div>
    </nav>
</div>
